<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<div layout:fragment="content" class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>
            상호참조 편집
        </div>
        <div class="card-body">
            <form id="documentReg" th:object="${document}" th:action="@{/document/reg}" method="post">
                <input type="hidden" id="json" name="json" />
                <input type="hidden" id="status" name="status" />
                <input th:value="*{id}" type="hidden" id="documentId" name="documentId" />
                <table class="table table-bordered">
                    <colgroup>
                        <col data-th-width="100" />
                        <col data-th-width="300" />
                        <col data-th-width="100" />
                        <col data-th-width="100" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row" class="table-active text-center">분류</th>
                        <td th:text="*{metaData.category}"></td>
                        <th scope="row" class="table-active text-center">연결 개체 / 총 개체</th>
                        <td>
                            <th:block th:text="*{crTotalCount}"></th:block> /
                            <th:block th:text="*{neTotalCount}"></th:block>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-active text-center">제목</th>
                        <td th:text="*{metaData.title}"></td>
                        <th scope="row" class="table-active text-center">작업상태</th>
                        <td th:text="*{status == true ? '구축 완료': '구축 중'}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <div id="selectItemInfo" data-sentence-sort="" data-ne-sort="" data-start="" data-finish="" data-css-name="" data-word="" class="alert alert-primary" role="alert"></div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col w-auto p-lg-0 jumbotron-fluid">
                        <table class="table table-striped">
                            <tbody>
                            <tr th:each="sentence : ${document.sentences}" th:data-sentence-sort="${sentence.sort}">
                                <th scope="row">
                                    <th:block th:if="${sentence.nes.size() > 0}">
                                        <button th:text="${sentence.sort}" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <th:block th:each="n : ${sentence.nes}">
                                                <a class="dropdown-item" href="#">[[${n.word}]] ([[${n.start}]]~[[${n.finish}]])</a>
                                            </th:block>
                                        </div>
                                    </th:block>
                                    <button th:if="${sentence.nes.size() == 0}" th:text="${sentence.sort}" type="button" class="btn btn-info btn-sm"></button>
                                </th>
                                <td name="sentenceTd" th:data-sentence-sort="${sentence.sort}" th:utext="${sentence.contentReplace}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col" style="max-width: 20em; padding-right: 0px;">
                        <div class="card border-dark mb-3 h-100">
                            <div class="card-header">상호 참조된 개체</div>
                            <div class="card-body text-dark">
                                <ul id="crArea" class="list-group" style="font-size: 0.8em;">

                                    <th:block th:each="cr, idx : ${document.crs}">
                                        <li th:each="entity : ${cr.crEntities}"
                                            th:data-sentence-sort="*{entity.sentenceSort}"
                                            th:data-ne-sort="*{entity.neSort}"
                                            th:data-start="*{entity.start}"
                                            th:data-finish="*{entity.finish}"
                                            th:data-word="*{entity.word}"
                                            th:data-css-name="|cr-item-${idx.index+1}|"
                                            th:name="|cr-item-${idx.index+1}|"
                                            th:class="|list-group-item cr-item-${idx.index+1}|">
                                            <button type="button" onclick="funcEntityDel(this);" class="btn btn-danger mr-2 btn-sm">삭제</button>
                                            <th:block th:text="|*{entity.word}(*{entity.sentenceSort}줄:*{entity.start}~*{entity.finish})|"></th:block>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>


        <div class="row justify-content-md-center">
            <button type="button" th:onclick="@{location.href='/document/list'}" class="btn btn-secondary mr-5 w-f-150">목록</button>
            <th:block th:if="${document.status == false}">
                <button type="button" onclick="funcSubmit(false)" class="btn btn-warning mr-5 w-f-150">임시 저장</button>
                <button type="button" onclick="funcSubmit(true)" class="btn btn-success mr-5 w-f-150">구축 완료</button>
            </th:block>
        </div>

    </div>

    <!-- Modal content-->
    <div id="errorMessageModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert-primary">
                    <h5 class="modal-title">확인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/


        $(document).ready(function() {
            init();
        });

        // 페이지 로딩시 실행
        function init(){

            // 이전 입력된 색상 적용
            $("#crArea li").each(function(i, li){

                $("[name='neItem']").each(function(j, span){

                    if(li.dataset.sentenceSort == span.dataset.sentenceSort
                        && li.dataset.neSort == span.dataset.neSort
                        && li.dataset.start == span.dataset.start
                        && li.dataset.finish == span.dataset.finish
                    ){
                        $(span).attr("data-css-name", li.dataset.cssName);
                        $(span).addClass(li.dataset.cssName);
                        $(span).removeClass("text-primary");
                    }
                });
            });

            // 마우스 오른쪽 메뉴 등
            $(document).on("contextmenu", function(event){
                event.preventDefault();
                funcRightAppend();
            });
        }

        function funcAttrBind(target, info){

            $(target).data().sentenceSort = $(info).data().sentenceSort;
            $(target).attr("data-sentence-sort", $(info).data().sentenceSort);

            $(target).data().neSort = $(info).data().neSort;
            $(target).attr("data-ne-sort", $(info).data().neSort);

            $(target).data().start = $(info).data().start;
            $(target).attr("data-start", $(info).data().start);

            $(target).data().finish = $(info).data().finish;
            $(target).attr("data-finish", $(info).data().finish);

            $(target).data().cssName = $(info).data().cssName;
            $(target).attr("data-css-name", $(info).data().cssName);

            $(target).data().word = $(info).text();
            $(target).attr("data-word", $(info).text());
        }



        // Span OnClick
        function funcNeSpanOnClick(target) {

            var firstItem = $("#selectItemInfo");
            var item = $("[name='neItem']").eq($("[name='neItem']").index(target));

            if ($(firstItem).text() == "") {

                $(firstItem).text($(item).text() + '(' + $(item).data().sentenceSort + '줄:' + $(item).data().start + '~' + $(item).data().finish + ')');
                $(firstItem).addClass($(item).data().cssName);

                funcAttrBind(firstItem, item);

            } else if ($(firstItem).data().sentenceSort == $(item).data().sentenceSort
                && $(firstItem).data().neSort == $(item).data().neSort
                && $(firstItem).data().start == $(item).data().start
                && $(firstItem).data().finish == $(item).data().finish
            ) {
                fundResetSelectDivItem();
            } else {
                var infoTarget = $("span[name='neItem'][data-sentence-sort='"
                    + $(firstItem).data().sentenceSort
                    + "'][data-ne-sort='"
                    + $(firstItem).data().neSort
                    + "'][data-start='"
                    + $(firstItem).data().start
                    + "'][data-finish='"
                    + $(firstItem).data().finish + "']");

                var appendTarget = item;

                // new
                if (appendTarget.data().cssName.indexOf('cr-item') == -1 && infoTarget.data().cssName.indexOf('cr-item') == -1) {

                    var mergeArray = [];
                    mergeArray.push(appendTarget);
                    mergeArray.push(infoTarget);
                    funcEntityAdd(mergeArray);
                }
                // change
                else if (appendTarget.data().cssName.indexOf('cr-item') > -1 && infoTarget.data().cssName.indexOf('cr-item') > -1) {

                    if(appendTarget.data().cssName == infoTarget.data().cssName){
                        fundResetSelectDivItem();
                    }else{
                        funcEntityChange(appendTarget, infoTarget);
                    }
                }
                // append
                else if (appendTarget.data().cssName.indexOf('cr-item') == -1 && infoTarget.data().cssName.indexOf('cr-item') > -1) {
                    funcEntityAppend(appendTarget, infoTarget);
                }
                // append
                else if (appendTarget.data().cssName.indexOf('cr-item') > -1 && infoTarget.data().cssName.indexOf('cr-item') == -1) {
                    funcEntityAppend(infoTarget, appendTarget);
                }
            }

            funcLiSort();
        }


        // resetSelectDiv
        function fundResetSelectDivItem(){
            var firstItem = $("#selectItemInfo");

            $(firstItem).text("");
            $(firstItem).removeClass($(firstItem).data().cssName);

            $(firstItem).data().sentenceSort = "";
            $(firstItem).attr("data-sentence-sort", "");

            $(firstItem).data().neSort = "";
            $(firstItem).attr("data-ne-sort", "");

            $(firstItem).data().start = "";
            $(firstItem).attr("data-start", "");

            $(firstItem).data().finish = "";
            $(firstItem).attr("data-finish", "");

            $(firstItem).data().cssName = "";
            $(firstItem).attr("data-css-name", "");

            $(firstItem).data().word = "";
            $(firstItem).attr("data-word", "");
        }

        // 요소 추가
        function funcEntityAppend(appendTarget, infoTarget){

            var li = $('<li class="list-group-item"></li>');
            $(li).text($(appendTarget).text()+'('+$(appendTarget).data().sentenceSort+'줄:'+$(appendTarget).data().start+'~'+$(appendTarget).data().finish+')');
            $(li).addClass($(infoTarget).data().cssName);

            funcAttrBind(li, appendTarget);
            $(li).data().cssName = $(infoTarget).data().cssName;
            $(li).attr("data-css-name",  $(infoTarget).data().cssName);
            $(li).attr("name", $(infoTarget).data().cssName);

            $(appendTarget).data().cssName = $(infoTarget).data().cssName;
            $(appendTarget).attr("data-css-name", $(infoTarget).data().cssName);
            $(appendTarget).addClass($(infoTarget).data().cssName);
            $(appendTarget).removeClass("text-primary");

            var btn = $('<button type="button" onclick="funcEntityDel(this);" class="btn btn-danger mr-2 btn-sm">삭제</button>');
            $(li).prepend(btn);

            $("#crArea").append(li);


            fundResetSelectDivItem();
        }

        // 요소 변경
        function funcEntityChange(infoTarget, appendTarget){

            var infoClassName = $(infoTarget).data().cssName;
            var appendClassName = $(appendTarget).data().cssName;

            var appendArray = $("[name='"+appendClassName+"']");

            $(appendTarget).data().cssName = infoClassName;
            $(appendTarget).attr("data-css-name", infoClassName);

            $(appendTarget).addClass(infoClassName);
            $(appendTarget).removeClass(appendClassName);

            $.each(appendArray, function(idx, item){

                $(item).addClass(infoClassName);
                $(item).removeClass(appendClassName);

                $(item).data().cssName = infoClassName;
                $(item).attr("data-css-name", infoClassName);
                $(item).attr("name", infoClassName);
            });

            appendArray = $("span[class='"+appendClassName+"']");
            $.each(appendArray, function(idx, item){

                $(item).addClass(infoClassName);
                $(item).removeClass(appendClassName);
                $(item).data().cssName = infoClassName;
                $(item).attr("data-css-name", infoClassName);
            });

            fundResetSelectDivItem();
        }


        // 색상 선택하기
        function funcColorSelect(){

            var allClass = [];
            var className = "cr-item-1";

            $("[class^='cr-item-']").each(function(idx, item){
                if($.inArray(item.className, allClass) == -1){
                    allClass.push(item.className);
                }
            });

            if(allClass.length > 0){
                for(var i = 1; i <= 30; i++) {
                    if($.inArray("cr-item-"+i, allClass) == -1){
                        className = "cr-item-"+i;
                        i = 100;
                    }
                }
            }
            return className;
        }



        // 요소 추가 2개 합치기
        function funcEntityAdd(mergeArray){

            var className = funcColorSelect();

            for(var i = 0; i < mergeArray.length; i++){

                var item = mergeArray[i];

                var li = $('<li class="list-group-item"></li>');
                $(li).text($(item).text()+'('+$(item).data().sentenceSort+'줄:'+$(item).data().start+'~'+$(item).data().finish+')');
                $(li).addClass(className);


                $(item).data().cssName = className;
                $(item).attr("data-css-name", className);

                $(item).addClass(className);
                $(item).removeClass("text-primary");

                funcAttrBind(li, item);
                $(li).attr("name", className);

                var btn = $('<button type="button" onclick="funcEntityDel(this);" class="btn btn-danger mr-2 btn-sm">삭제</button>');
                $(li).prepend(btn);

                $("#crArea").append(li);
            }
            fundResetSelectDivItem();
            funcLiSort();
        }

        // 정렬
        function funcLiSort() {
            var li = $("#crArea").find("li").sort(function(a, b){
               return a.dataset.cssName.split("-")[2] < b.dataset.cssName.split("-")[2] ? -1 : 1;
            });

            $("#crArea").append(li);

        }

        // 요소 삭제
        function funcEntityDel(obj){

            var data = $(obj).parent().data();

            $("span[class='"+data.cssName+"']").each(function(idx, item){

                if(data.sentenceSort  == item.dataset.sentenceSort
                && data.neSort  == item.dataset.neSort
                && data.start  == item.dataset.start
                && data.finish  == item.dataset.finish
                ){
                    if(data.neSort > -1){
                        $(item).removeClass(item.dataset.cssName);
                        $(item).addClass("text-primary");

                        $(item).data().cssName = "";
                        $(item).attr("data-css-name", "");
                    }else{
                        $(item).replaceWith($(item).text());
                    }
                }
            });
            $(obj).parent().remove();


            fundResetSelectDivItem();
        }

        // 저장
        function funcSubmit(status){

            var allClass = [];
            $("#crArea li").each(function(idx, item){

                if ($.inArray(item.dataset.cssName, allClass) === -1) {
                    allClass.push(item.dataset.cssName);
                }
            });



            var jsonObject = new Object();
            var entites = [];

            jsonObject.cr = entites;

            $.each(allClass, function(i, clsNm){

                var entityArr = [];

                $("#crArea li").each(function (idx, item) {


                    if(clsNm == item.dataset.cssName){

                        var entityObj = new Object();

                        entityObj.cssName = item.dataset.cssName;
                        entityObj.sentenceSort = item.dataset.sentenceSort;
                        entityObj.neSort = Number(item.dataset.neSort);
                        entityObj.start = Number(item.dataset.start);
                        entityObj.finish = Number(item.dataset.finish);
                        entityObj.word = item.dataset.word;

                        entityArr.push(entityObj);
                    }
                });

                var entity = new Object();
                entity.entity = entityArr;
                entites[i] = entity;

            });


            for(var i=0; i < jsonObject.cr.length; i++){

                var neMinus = 0;
                if(jsonObject.cr[i].entity.length < 2){
                    funcErrorMessageModal("하나의 개체만 등록은 불가능합니다.");
                    return;
                }

                for(var j=0; j < jsonObject.cr[i].entity.length; j++){
                    neMinus += Number(jsonObject.cr[i].entity[j].neSort);
                }

                if(neMinus < 0){
                    funcErrorMessageModal("상호 개체 없이 단어 개체만 등록은 불가능 합니다.");
                    return;
                }
            }



            // var entityObj = new Object();
            // entityObj.entity = entityArr;
            // jsonObject.cr = entityObj;
            console.log(JSON.stringify(jsonObject));



            $("#json").val(JSON.stringify(jsonObject));


            $("#status").val(status);
            $("#documentReg").submit();
        }


        // 에러 메시지
        function funcErrorMessageModal(message){
            $("#modalMessage").text(message);
            $("#errorMessageModal").modal();
        }


        // 메뉴 선택
        function funcRightAppend(){

            var firstItem = $("#selectItemInfo");
            var selectSpan = $("span[name='neItem'][data-sentence-sort='"
                + $(firstItem).data().sentenceSort
                + "'][data-ne-sort='"
                + $(firstItem).data().neSort
                + "'][data-start='"
                + $(firstItem).data().start
                + "'][data-finish='"
                + $(firstItem).data().finish
                + "']");


            var sel = window.getSelection();
            var range = sel.getRangeAt(0);

            var container = range.commonAncestorContainer.parentElement;

            var sel_start = range.startOffset;
            var sel_end = range.endOffset;

            var charsBeforeStart = getCharactersCountUntilNode(range.startContainer, container);
            var charsBeforeEnd = getCharactersCountUntilNode(range.endContainer, container);
            if(charsBeforeStart < 0 || charsBeforeEnd < 0) {
                // console.warn('out of range');
                return;
            }
            var start_index = charsBeforeStart + sel_start;
            var end_index = charsBeforeEnd + sel_end;

            var span = document.createElement("span");
            var selectText = container.textContent.slice(start_index, end_index);
            var selectSentenceSort = Number(container.dataset.sentenceSort);
            var selectStart = start_index+1;
            var selectFinish = end_index;


            if(firstItem.data().word == ""){
                funcErrorMessageModal("추가할 대상 정보가 없습니다.");
                return;
            }
            else if($("td[name='sentenceTd']").index(range.startContainer.parentNode) != $("td[name='sentenceTd']").index(range.endContainer.parentNode)){
                funcErrorMessageModal("잘못된 영역을 선택 하셨습니다.");
                return;
            }else if($(container).find('th').length > 0){
                funcErrorMessageModal("잘못된 영역을 선택 하셨습니다.");
                return;
            }


            var spanArr = $("[name='sentenceTd'][data-sentence-sort='"+selectSentenceSort+"']").find('span');
            for(var i = 0; i < spanArr.length; i++){
                if(spanArr[i].dataset.start <= selectStart && spanArr[i].dataset.finish >= selectFinish){
                    funcErrorMessageModal("텍스트 블록 지정으로 등록 할수 없는 항목 입니다.1");
                    return false;
                }else if(selectStart <= spanArr[i].dataset.start && selectFinish >= spanArr[i].dataset.finish){
                    funcErrorMessageModal("텍스트 블록 지정으로 등록 할수 없는 항목 입니다.2");
                    return false;
                }
            }


            if(firstItem.data().cssName == ""){
                selectSpan.data().cssName = funcColorSelect();

                var li = $('<li class="list-group-item"></li>');
                $(li).text($(selectSpan).text()+'('+$(selectSpan).data().sentenceSort+'줄:'+$(selectSpan).data().start+'~'+$(selectSpan).data().finish+')');
                $(li).addClass(selectSpan.data().cssName);


                $(selectSpan).data().cssName = selectSpan.data().cssName;
                $(selectSpan).attr("data-css-name", selectSpan.data().cssName);

                $(selectSpan).addClass(selectSpan.data().cssName);
                $(selectSpan).removeClass("text-primary");

                funcAttrBind(li, selectSpan);
                $(li).attr("name", selectSpan.data().cssName);

                var btn = $('<button type="button" onclick="funcEntityDel(this);" class="btn btn-danger mr-2 btn-sm">삭제</button>');
                $(li).prepend(btn);

                $("#crArea").append(li);
            }


            $(span).text(selectText);
            $(span).data().sentenceSort = selectSentenceSort;
            $(span).attr("data-sentence-sort", selectSentenceSort);

            $(span).data().neSort = -1;
            $(span).attr("data-ne-sort", -1);

            $(span).data().start = selectStart;
            $(span).attr("data-start", selectStart);

            $(span).data().finish = selectFinish;
            $(span).attr("data-finish", selectFinish);

            $(span).data().cssName = selectSpan.data().cssName;
            $(span).attr("data-css-name", selectSpan.data().cssName);

            $(span).data().word = selectText;
            $(span).attr("data-word", selectText);

            $(span).attr("style", "cursor:pointer;text-decoration:underline;");
            $(span).attr("name", "neItem");
            $(span).attr("onclick", "funcNeSpanOnClick(this)");

            $(span).addClass(selectSpan.data().cssName);

            range.deleteContents();
            range.insertNode(span);

            var li = $('<li class="list-group-item"></li>');
            $(li).text(selectText+'('+selectSentenceSort+'줄:'+selectStart+'~'+selectFinish+')');
            $(li).addClass(selectSpan.data().cssName);

            $(li).data().sentenceSort = selectSentenceSort;
            $(li).attr("data-sentence-sort", selectSentenceSort);

            $(li).data().neSort = -1;
            $(li).attr("data-ne-sort", -1);

            $(li).data().start = selectStart;
            $(li).attr("data-start", selectStart);

            $(li).data().finish = selectFinish;
            $(li).attr("data-finish", selectFinish);

            $(li).data().cssName = selectSpan.data().cssName;
            $(li).attr("data-css-name", selectSpan.data().cssName);

            $(li).data().word = selectText;
            $(li).attr("data-word", selectText);

            $(li).attr("name", selectSpan.data().cssName);

            var btn = $('<button type="button" onclick="funcEntityDel(this);" class="btn btn-danger mr-2 btn-sm">삭제</button>');
            $(li).prepend(btn);

            $("#crArea").append(li);


            fundResetSelectDivItem();
            funcLiSort();
        }



        function getCharactersCountUntilNode(node, parent) {
            var walker = document.createTreeWalker(
                parent || document.body,
                NodeFilter.SHOW_TEXT,
                null,
                false
            );
            var found = false;
            var chars = 0;
            while (walker.nextNode()) {
                if(walker.currentNode === node) {
                    found = true;
                    break;
                }
                chars += walker.currentNode.textContent.length;
            }
            if(found) {
                return chars;
            }
            else return -1;
        }

        /*]]>*/
    </script>
</div>
</html>