<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="sideBar" class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/document/list}">
            <i class="fas fa-fw fa-edit"></i>
            <span>상호참조 목록</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/system/user/create}">
            <i class="fas fa-fw fa-user-cog"></i>
            <span>사용자 관리</span></a>
    </li>
<!--    -->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="index.html">-->
<!--            <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--            <span>대시보드</span>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fas fa-fw fa-folder"></i>-->
<!--            <span>Pages</span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="pagesDropdown">-->
<!--            <h6 class="dropdown-header">Login Screens:</h6>-->
<!--            <a class="dropdown-item" href="login.html">Login</a>-->
<!--            <a class="dropdown-item" href="register.html">Register</a>-->
<!--            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <h6 class="dropdown-header">Other Pages:</h6>-->
<!--            <a class="dropdown-item" href="404.html">404 Page</a>-->
<!--            <a class="dropdown-item active" href="blank.html">Blank Page</a>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="charts.html">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Charts</span></a>-->
<!--    </li>-->
</ul>

</html>