<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<div layout:fragment="content" class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user-cog"></i>
            Error Code : <th:block th:text="${code}"></th:block>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    Error : <th:block th:text="${msg}"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</html>