<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">

<div layout:fragment="content" class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-user-cog"></i>
            사용자 관리
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row justify-content-end pb-3">
                    <button th:type="button" class="btn btn-primary" data-toggle="modal" data-target="#userRegModal">사용자 추가</button>
                </div>
                <div class="row">
                    <div class="col w-auto p-lg-0 jumbotron-fluid">
                        <table class="table table-striped">
                            <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col" data-th-width="100">번호</th>
                                <th scope="col" data-th-width="100">사용자 아이디</th>
                                <th scope="col" data-th-width="100">사용자 실명</th>
                                <th scope="col" data-th-width="100">진행 / 완료 / 전체</th>
                                <th scope="col" data-th-width="100">데이터 생성</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, idx : ${users}">
                                <td class="text-center" th:text="*{idx.index+1}"></td>
                                <td class="text-center" th:text="*{user.userName}"></td>
                                <td class="text-center" th:text="*{user.realName}"></td>
                                <td class="text-center" th:text="|*{user.progressCount} / *{user.completeCount} / (*{user.progressCount + user.completeCount})|"></td>
                                <td class="text-center"><a class="btn btn-primary" th:href="@{/system/document/reg(userId=${user.id})}">데이터 생성</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">
            </div>

        </div>

        <!-- Modal content-->
        <div id="userRegModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header alert-primary">
                        <h5 class="modal-title">신규 사용자 생성</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="userReg" th:object="${user}" th:action="@{/system/user/reg}" method="post">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col data-th-width="150" />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row" class="table-active text-center">사용자 아이디</th>
                                    <td>
                                        <input class="form-control" type="text" th:fild="*{userName}" th:id="userName" th:name="userName" placeholder="사용자 로그인 아이디" required="required" autofocus="autofocus" />
                                        <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="alert alert-danger" role="alert"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-active text-center">사용자 실명</th>
                                    <td><input class="form-control" type="text" th:id="realName" th:name="realName" placeholder="사용자 실명" required="required" /></td>
                                    <div th:if="${#fields.hasErrors('realName')}" th:errors="*{realName}" class="alert alert-danger" role="alert"></div>
                                </tr>
                                <tr>
                                    <th scope="row" class="table-active text-center">메모</th>
                                    <td><textarea th:id="memo" th:name="memo" class="form-control w-100" style="resize: none;" placeholder="사용자 부가 정보"></textarea></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="alert alert-warning" role="alert">
                                신규 사용자 생성 시 비밀번호는 '1234' 가 되며, 첫 로그인 시 비밀번호 변경 창으로 이동 됩니다.
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="funcUserAdd()" data-dismiss="modal">저장</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/


            $(document).ready(function() {
                // $("#userRegModal").modal();
            });



            function funcUserAdd(){
                $("#userReg").submit();
            }


            /*]]>*/
        </script>
    </div>
</html>